:root{
    /** Fonts **/
    --main-font: 'Roboto', sans-serif;
    --logo-font: 'Raleway', sans-serif;

    /** Colors **/
    --main-bg-color:#FFF;

    --logo-accent-color: #4D5AE5;
    --title-dark-color: #2E2F42;
    --text-dark-color: #434455;
    --text-light-color: #F4F4FD;

    --button-accent-bg-color: #4D5AE5;
    --button-secondary-bg-color: #F4F4FD;
    --button-secondary-active-bg-color: #404BBF;

}

/** General **/

body{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    background-color: var(--main-bg-color);
    color: var(--text-dark-color);
}

a{
    text-decoration: none;
    color: currentColor;
}

button{
    color: currentColor;
    cursor: pointer;
}

.nav{

}

.list{

}

.item{

}

.link{

}

.title{
  color: var(--title-dark-color);
}

.text{
  
} 

.logo{
}

.logo-accent{
    color: var(--logo-accent-color);
}

.page {

}

section > .title {}

/** Elements **/

.btn {}

.btn-accent {
    background-color: var(--button-accent-bg-color);
}

.btn-secondary {}

.btn-secondary:hover,
.btn-secondary:focus
{
  background-color: var(--button-secondary-active-bg-color);
}

/** Header **/

.header{}

.header-nav {
}
.header-logo {
}
.header-list {
}
.header-list-item {
}
.header-list-link {
}
.header-adress {
}
.header-adress-list {
}
.header-adress-list-item {
}
.header-adress-list-link {
}


/** Footer **/

.footer {}

.footer-logo {}

.footer-text {
    color: var(--text-light-color);
}


/** Main page **/

.main-page {}

.hero {}

.hero-title {}

.advantages {}

.advantages-title {}

.advantages-list {}

.advantages-list-item {}

.advantages-list-title {}

.advantages-list-text {}

.services {}

.services-title {}

.services-list {}

.services-list-item {}

.team {}

.team-title {}

.team-list {}

.team-list-item {}

.team-list-title {}

.team-list-text {}


/** Portfolio page **/

.portfolio-page {}

.portfolio {}

.portfolio-title {}

.portfolio-filter-list {}

.portfolio-filter-item {}

.portfolio-projects-list {}

.portfolio-projects-item {}

.portfolio-projects-item-link {}

.portfolio-projects-item-title {}

.portfolio-projects-item-text {}